.asder{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding:20px;
}

.asder .aaaa {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .asder .aaaa input{
    background-color: black;
    color: aliceblue;
    padding: 6px;
    border-radius: 5px;
  }
  .eee {
    width: 150px; /* Establece un ancho fijo para los span */
    text-align: right;
    margin-right: 10px;
  }

.aasd{
    margin-top: 10px;
    padding: 10px;
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
}