/* .container {
    display: flex;
    flex-direction: column;
    background-color:#91c4cd;
    width: 30%;
    margin: auto;
    height: fit-content;
    position: absolute;
    margin-top: 1%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    left: 35%;
    box-shadow: 0px 0px 24px 5px rgba(0,0,0,0.75);
  }
  .title {
    font-size: 1.5em;
    font-weight: 600;
    align-self: center;
    margin: 3px;
    text-align: center;

    font-family: "Montserrat", sans-serif;

  }
  .Button{
    display: flex;
    color: white;
    background-color:rgb(30 41 59) ;
    width: 40%;
    margin: auto;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 600;
    align-items: center;


  } */