.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.link{
    color: #333;
    text-decoration: none;
    padding: 5px;
}

.link:hover {
    color: #000;
    background-color: #ccc;
  }