.app{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    width:90vw;
}
.AppHeader{
height: 50px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 4px 20px 4px 12px;
border-bottom: 1px solid rgb(0, 0, 0,0.15);
}
.AppFooter{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgba(0,0,0, 0.15);
}
.SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.PageContent{
    display:flex;
    justify-content: center;
    align-items: center;
}

.dashboard-layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
